<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126366775722-c4p2m45ttr34n3vc5mh88h587jj9d7pd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126366775722-c4p2m45ttr34n3vc5mh88h587jj9d7pd</string>
	<key>API_KEY</key>
	<string>AIzaSyDdVZbXZATb4XLFOiivQy9gDTHVwkCd4ac</string>
	<key>GCM_SENDER_ID</key>
	<string>126366775722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.setlist.setlistmobile</string>
	<key>PROJECT_ID</key>
	<string>setlist-87cd0</string>
	<key>STORAGE_BUCKET</key>
	<string>setlist-87cd0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126366775722:ios:772862d8e1d9c84edc93d3</string>
</dict>
</plist>